



/*INICIO NAV_PRODUTOS*/
.espaco_diferente{
	display: none;
}
@media screen and (max-width: 700px){
	.espaco_diferente{
		display: block;
	}
}
.forte a{
	display: block;
	font-size: 1em;
}
.forte a:hover{
	transform: scale(1.1);
		    transition: all 0.3s ease;
		    cursor: pointer;
		    color: black;
}
.forte1 a{
	display: block;
	
}
.forte1 a:hover{
	transform: scale(1.1);
		    transition: all 0.3s ease;
		    cursor: pointer;
		    color: black;
}
.pro-card1{
	
	width: 300px;
	height: 470px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;

}
.pro-card2{
	width: 300px;
	height: 470px;
	position: relative;
	background: #fff;
	border-radius: 30px;
	box-shadow: 0 0 15px 0 rgb(163, 163, 163);
}
.pro-card-itens{
	width: 100%;
	height: 100%;
}
.pro-card-top{
width: 100%;
height: 60%;
background: #014961;
border-radius: 30px;
color: #fff;
}
.pro-card-bottom{
	padding: 30px;
	display: flex;
	flex-direction: column;
}
.pro-icons{
	text-align: center;
}
.pro-icons h3{
	text-align: center;
	padding: 0.7em;
	font-size: 30px;
}

.pro-icons h1{
	font-size:20px;
	
	font-weight: 600px;
	text-align: center;
}
.pro-card-bottom h3{
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: bold;
}
.pro-card-bottom p{
	text-align: left;
	
}
.pro-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	width: 100%;
	border: 2px solid #0088d2;
	margin-top: -10px;
	border-radius: 10px;
	font-size: 16px;
	color: #0088d2;
	text-decoration: none;
	transition: all 0.5s;
}
.pro-btn:hover{
	border: 2px solid #0088d2;
	background: #0088d2;
	color: #fff;
}

.clearM{
	margin: 0;
}
h1.pro-produtos{
		
			text-align: center;
			margin: 50px 0px;
			color: #DF7369;
		    text-shadow: 2px 1px 1px black;
		    font-weight: bold;
		    font-size: 90px;
		    margin-bottom: 10px;
		    
		    
}
h1.pro-promo{
	
	text-align: center;
	margin: 50px 0px;
	color: #DF7369;
		    text-shadow: 2px 1px 1px black;
		    font-weight: bold;
		    font-size: 60px;
		    margin-bottom: 10px;

}
p.pro-formatar{
	font-size: 1.1em;
	text-align: center;
	margin: 0px 200px;
}
hr.pro-pro{
	margin: 0px 470px;
	background-color: black;
	height: 2px;
}
.pro-card-pro{
	width: 250px;
	height: 320px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	
	
}
.pro-card1-pro{
	width: 250px;
	height: 320px;
	position: absolute;
	background: #fff;
	border-radius: 15px;
	box-shadow: 5px 5px 1px #A9A9A9;
	
}
.pro-cima{
	display: flex;
	justify-content: center;
	margin-bottom: -10px;


}
.pro-cima1{
	display: flex;
	justify-content: center;
	margin-bottom: -10px;
	margin-top: 10px;


}
.pro-baixo-c{

	margin-top: 10px;
	margin-left: 10px;
}
.pro-baixo-p{

	margin-top: 57px;
	margin-left: 10px;
}
.pro-baixo{

	margin-top: 4opx;
	margin-left: 10px;
}
.pro-tite{
	font-size: 1.5em;
}
.pro-star{
	color: #DF7369;

}

a.pro-a{
	color: black;
}
.pro-bnt-ver{
	border: none;
	background-color: transparent;
	color: rgb(116, 116, 137);
	font-size:20px;
	margin-top: 20px;

}
.pro-aumentar {
	display: block;
}
.pro-aumentar:hover{
	transform: scale(1.1);
		    transition: all 0.3s ease;
		    cursor: pointer;
		    color: black;
}
.pro-bnt-pro{
	border-radius: 100px;
	
	background-color: #DF7369;
	height: 30px;

}
.pro-pro-card1{
	width: 300px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	
	text-align: center;

}
.pro-pro-card2{
	width: 300px;
	height: 200px;
	position: relative;
	background: #fff;
	border-radius: 10px;
	box-shadow: 5px 5px 1px #A9A9A9;
	
}
#limpar{
	display: none;
}
.pro-pro-pro-card1{

	width: 200px;
	height: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	
}
.pro-pro-pro-card2{
	width: 200px;
	height: 280px;
	position: relative;
	background: #fff;
	border-radius: 15px;
	box-shadow: 5px 5px 1px #A9A9A9;
}
hr.pro-linn{

	background-color: black;
	height: 5px;
}
.respon-limpar{
	display: none;
}
#sumiu{
	transition: 2s;
	display: none;
}
.pro-some-pro{
			display: none;
		}
.somedaqui222{
			display: none;
		}
/* RESPONSIVIDADE*/
	@media (max-width: 770px) and (min-width: 459px){
		h1.pro-produtos{
			text-align: center;
			margin: 50px 0px;
			color: #DF7369;
		    text-shadow: 2px 1px 1px black;
		    font-weight: bold;
		    font-size: 50px;
		    margin-bottom: 10px;	
		   
		
		}
	}
	@media (max-width: 458px) and (min-width: 320px){
		
		.respon-limpar{
			display: block;
		}
		h1.pro-produtos{
			text-align: center;
			margin: 50px 0px;
			color: #DF7369;
		    text-shadow: 2px 1px 1px black;
		    font-weight: bold;
		    font-size: 35px;
		    margin-bottom: 10px;	
		   
		
		}
		h1.pro-promo{
			
			text-align: center;
			margin: 50px 0px;
			color: #DF7369;
		    text-shadow: 2px 1px 1px black;
		    font-weight: bold;
		    font-size: auto;
		    margin-bottom: 10px;
		}
	}
	@media (max-width: 767px){
		p.pro-formatar{
			font-size: 1.1em;
			text-align: center;
			
			margin: auto;
			
		}
		.pro-some-pro{
			display: block;
		}

	}
	@media (max-width: 1199px){
		.legal{
			margin-bottom: 50px;
		}
	}
	@media (max-width: 1152px){
		.somedaqui{
			display: none;
		}
		.somedaqui222{
			display: block;
		}
	}


/* FIM NAV_PRODUTOS*/