/* INICIO HEADER */
#cabecalho{
	background-color: hsla(195, 98%, 19%, 0.600);
	box-shadow: 0px 5px 5px 0px #888;
	text-align: center;
	margin-right: 0px;
	
}


.redes_header{
	margin-top: 24px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.nav_header{
	margin-top: 27px;
}

.login_header{
	margin-top: 14px;
	
	
}
.menu{
	display: none;
	background-color: hsla(195, 98%, 19%, 0.600);

}
.menuheader{
	text-align: center;
	
	margin: 0px 20px 0px 0px;
	}

.alinhar{
	text-align: center;
}
a{
	text-decoration: none;
	color: white;
	font-size: 1.1em;
}
a:hover.red{
			font-size: 1.3em;
			color: white;
			
		    transition: all 0.3s ease;
		    cursor: pointer;
		}
.redes_header a{
			display: block;
	}

.redes_header a:hover{
			transform: scale(1.1);
		    transition: all 0.3s ease;
		    cursor: pointer;
		}
.login_header a{
			display: block;
	}

.login_header a:hover{
			transform: scale(1.1);
		    transition: all 0.3s ease;
		    cursor: pointer;
		}

body{
	font-size: 1em;
	font-family: "Helvetica", sans-serif;
	background: #e6e6e6;
	
	margin: auto;

}

@media screen and (max-width: 770px){
	header{
		display: none;
	}

	.menu{

		display: block;
	}
	li.l{
        text-align: center;
    }

}
/*Fim header*/

/*INICIO FOOTER*/
h4.tite{
    color: #DF7369;
    text-shadow: 2px 1px 1px white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
h4{
    font-family: 'Arial', sans-serif;
     font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
footer{
    background-color: hsla(195, 98%, 19%, 0.600);
}
.borda{
    border: 1px solid red;
}
p#slogan{
    color: white;
    font-size: 19px;
    text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.300);
    margin-bottom: 10px;
}
p#copy{
    color: rgba(255, 255, 255, 0.479);
}
.alinhar{
    text-align: center;

}
input#mensagem{
    padding-right: 85px;
    padding-bottom: 3px;
    margin-left: 43px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    color: white;
    
}
input#mensagem:focus{
    border-bottom: 2px solid #c5c5c5;

}

input#mensagem::placeholder{
    color: white;
    font-size: 16px;


}
button.botao3{
    border: 0;
    background-color: transparent;
    
}
.botaoalinhar{
    Display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    Justify-content: end;
    margin-top: -30px;
    margin-right: 70px;
    
}
ul.separar li{
    margin: 30px 0px;
    list-style: none;

}
ul.separar li a{
    font-size: 20px;
    text-transform: capitalize;
    color: #f8f8f8;
    text-decoration: none;
    font-weight: 300;

}
ul li a:hover{
    color: #e7e7e7;
    transform: scale(1.03);
    transition: all 0.3s ease;
    cursor: pointer;
    padding-left: 10px;
}
.midias-sociais a{
    margin: 30px 80px;
    display: block;
    
}
.midias-sociais a:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}
img.rede-social{
    width: 35px;
    height: 35px;
}
#correcao{
    margin-right: 0.0px;
}
.block{
    display: none;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 320px){
    .block{
        display: block;
    }
    .none{
        display: none;
    }
    .midias-sociais1{
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: auto;

    }
    .midia{
        margin: 0px 40px 0px 0px;

    }
    .midia1{
        margin-left: 55px;
    }
    .botaoalinhar{
    Display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    Justify-content: end;
    margin-top: -30px;
    margin-right: 20px;
    
    }
    
}
@media (max-width: 768px) and (min-width: 456px){
    .botaoalinhar{
    Display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    Justify-content: end;
    margin-top: -30px;
    margin-right: 10px;
    }
}
@media (max-width: 1500px) and (min-width: 769px){
    .botaoalinhar{
    Display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    Justify-content: end;
    margin-top: -30px;
    margin-right: 15px;
    }
}
@media (max-width: 360px) and (min-width: 321px){
    .botaoalinhar{
    Display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    Justify-content: end;
    margin-top: -30px;
    margin-right: 5px;
    }
}
/*FIM FOOTER*/

/*Nav*/
img.vg-img{
	
	object-fit: cover;
}
img.vg-img1{
	
	object-fit: cover;
}
#box{
	overflow: hidden;	

}
#box1{
	overflow: hidden;	

}

h1.vg-tite{
	font-weight: bold;
}
.vg-btn{
	border-radius: 150px;
	background-color: #014961;
	color: white;
	padding: 10px 70px;
	font-size: 1.5em;
}

hr.vg-linha{
background-color: black;
	height: 5px;

}
h1.vg-titulo1{
	text-align: center;
			margin: 50px 0px;
			color: #DF7369;
		    text-shadow: 2px 1px 1px black;
		    font-weight: bold;
		    font-size: 50px;
		    margin-bottom: 10px;
}
h4.vg-agendar{
	text-align: center;
	color: #014961;
}
#vg-cor-btn{
	background-color: #014961;
	border-color: #014961;
}
p{
	font-size: 1.2em;
	color: black;
}

a.vg-b{
	font-size: 1em;
}
.vg-sumir{
	display: block;
}
.vg-sumiu1{
	
}
.vg-aparece{
	display: none;
}
.vg-aparece1{
	display: none;
}
#vg-somee{
	display: block;
}
#vg-aparecee{
	display: none;
}
.li-mercado{
	text-align: center;
}

@media (max-width: 1199px){
	.vg-sumir{
		display: none;
	}
	.vg-aparece{
	display: block;
	}
	
	.li-mercado{
		list-style: none;
	}
}
@media (max-width: 580px){
.vg-sumiu1{
	display: none;
}
.vg-aparece1{
	display: block;
}
}
@media (max-width: 529px){
	#vg-somee{
	display: none;
}
#vg-aparecee{
	display: block;
}
}
/*FIM Nav*/