@import url('./variaveis-cores-fonte.min.css');

#container__body{ 
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main{
	flex: 1;
}

* {
	color: var(--preto);
}

.veiculos {
	margin: 1rem;
}

.veiculo__titulo {
	margin: 3rem 0rem 1rem 0rem;
	font-family: fast-hand;
	text-align: center;
	color: var(--vermelho);
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.principal {
	border: 2.5px solid var(--amarelo);
}

.outro {
	border: 2.5px solid var(--vermelho);
}

.principal,
.outro {
	border-radius: 10px;
}

.veiculo-principal,
.outros-veiculos {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 100%;

}

.card-veiculo {
	background-color: var(--preto);
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
width: 100%;

	margin: auto;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
	
}

.card-veiculo img{
	border: 4px solid var(--amarelo);
	border-radius: 50%;
	padding: 0.5rem;
}

.acoes-card__link,
.informacoes-veiculo__conteudo,
.card-veiculo__apelido {
	color: var(--branco);
	text-decoration: none;
	font-size: 1.2rem;
}

.acao__card:hover a{
	color: var(--amarelo);
	text-decoration: underline;
	transition-duration: 0.3s;
}

.acao__card:hover i{
	color: var(--amarelo);
	transition-duration: 0.3s;
}

.sem-veiculos {
	display: grid;
	place-items: center;
	margin: 0.5rem 0;
}

.sem-veiculos__texto,
.sem-outros-veiculos__texto {
	font-size: 1.4rem;
}

.sem-veiculos__image,
.sem-veiculos__conteudo {
	max-width: 500px;
	text-align: center;
}

.sem-veiculos__link,
.sem-outros-veiculos__link {
	color: var(--vermelho);
	text-decoration: none;
	transition: all 0.5s;
}

.sem-veiculos__link:hover,
.sem-outros-veiculos__link:hover {
	color: var(--vermelho);
	text-decoration: underline;
}

.adicione-veiculos {
	margin-left: 0.5rem;
	text-align: center;
}

/*ICONES*/
.bx{
	color: var(--branco);
	font-size: 1.3rem;
}

@media only screen and (max-width: 2000px){
	.card-veiculo{
		width: 70rem;
	}
}

@media only screen and (max-width: 1200px){
	.card-veiculo{
		width: 50rem;
	}
}

@media only screen and (max-width: 900px){
	.card-veiculo{
		max-width: 40rem;
	}

	.acoes-card__link,
	.informacoes-veiculo__conteudo,
	.card-veiculo__apelido {
		font-size: 0.8rem;
	}

	.card-veiculo img{
		border: 2px solid var(--amarelo);
		border-radius: 50%;
		padding: 0.4rem;
		width: 70px;
	}
}

@media only screen and (max-width: 700px){
	.card-veiculo{
		max-width: 30rem;
	}

	.card-veiculo img{
		display: none;
	}
}

@media only screen and (max-width: 550px){
	.card-veiculo{
		max-width: 20rem;
	}

	.acoes-card__link,
	.informacoes-veiculo__conteudo,
	.card-veiculo__apelido {
		font-size: 0.8rem;
	}

	.acao__card i{
		display: none;
	}
}